.gantt-container {
  max-width: 100%;
  overflow-x: hidden;
}

.gantt-row {
  display: flex;
  flex-wrap: wrap;   /* allows wrapping to next line */
  gap: 5px;
}
.gantt-box {
  width: 60px;
  height: 40px;
  background: #667eea;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  font-weight: bold;
}

.time-row{
  display:flex;
}

.time-box{
  width:100px;
  display:flex;
  justify-content:space-between;
}

